body{
    background-image: url("/images/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette_1258-48251.jpg");
    padding:0px;
    margin:0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
    margin: 10px;
}



h1 {
    margin: 30px;
    font-family: fantasy;
    text-shadow: 5px 0 #232931;
    font-size: 4.5rem;
    color: white;
    text-align: center;
}

p {
    font-size: 2rem;
    color:white;
    font-family: "Indie Flower", cursive;
}

img {
    width: 100%;
}

.down {
    padding-top: 30px;
}

.btn {
    background:yellow;
    font-family: "Indie Flower", cursive;
    border-radius: 7px;
    color: #ffff;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
}

.butn:hover {
    background:gold;
    text-decoration: none;
}
